NEXT_PUBLIC_SUPABASE_URL="https://your-project.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"
SUPABASE_SERVICE_ROLE_KEY="your-service-role-key"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="your-publishable-key"

# POSTGRES_DATABASE="postgres"
# POSTGRES_HOST="db.your-project.supabase.co"
# POSTGRES_PASSWORD="your-password"
# POSTGRES_PRISMA_URL="postgres://postgres.your-project:your-password@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
# POSTGRES_URL="postgres://postgres.your-project:your-password@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
# POSTGRES_URL_NON_POOLING="postgres://postgres.your-project:your-password@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
# POSTGRES_USER="postgres"
# SUPABASE_ANON_KEY="your-anon-key"
# SUPABASE_JWT_SECRET="your-jwt-secret"
# SUPABASE_PUBLISHABLE_KEY="your-publishable-key"
# SUPABASE_SECRET_KEY="your-secret-key"
